body{
	font-size: 16px;
	background-color: #581845;
}

#header-nav{
	padding: 5px;
	background-color: #E1C318;
	border-radius: 0px;
	border: 0px;
}
.navbar-brand h1{
	font-size: 2em;
	font-weight: bold;
	color: #581845;
	margin-top: -10px;
}

.navbar-brand button.navbar-toggle {
  clear: both;
  margin-top: -40px;

}
.navbar-header a:hover, .navbar-header a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

#nav-list a{
	font-size: 1.5em;
	color: #581845;
}
#nav-list a:hover{
	background-color:#A28F02 ;
}
.section-holder{
	padding: 20px;

}
#main-heading{
	font-size: 2.5em;
	border: 5px solid #A18300;
	color: #A18300;
	background-color:#CCC3CA ;
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;  
}
p > a{
	font-size: 1.em;
	font-weight: bold;
	color: #0A0175;
}
section > h3{
	font-weight: bold;
	padding: 10px;
}
section{
	background-color: #CCC3CA;
	padding: 20px;
	padding-top: 0px;
	border: 2px solid black;
}